* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #ffffff;
}

body {
  margin: 10px 50px;
}

main {
  margin-top: 6rem;
}

header {
  background: #2ec4b6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  font: inherit;
  border: 1px solid #eeeeee;
  color: black;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 30px;
  background-color: #ffffff;
  margin: 1.5rem 0.5rem;
}

input:focus {
  outline: none;
  border: 1px solid #2ec4b6;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0194;
}
